{% extends 'base_login.html.twig' %}

{% block body_id 'login' %}

{% block content_title %}<b>{{ 'title.password_reset'|trans }}</b>{% endblock %}

{% block main %}

{#
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
#}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">

                {{ form_start(form, {attr: attr|default({})}) }}

                {{ form_widget(form) }}

                <button type="submit" class="{{ button_css|default("btn btn-primary") }}">
                    <i class="fa fa-save" aria-hidden="true"></i> {{ button_label|default('label.password_reset'|trans) }}
                </button>

                <a href="{{ path('security_login') }}" class="btn btn-link">
                    <i class="mdi mdi-lock" aria-hidden="true"></i> {{ 'action.go_to_login'|trans }}
                </a>

                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        {% if error is defined %}
        $.notify({message: '{{ error.messageKey|trans(error.messageData, 'security') }}'},{type: 'danger'});
        {% endif %}
    </script>
{% endblock %}