<nav class="navbar top-navbar navbar-expand-md navbar-light">
    <div class="navbar-header">

        <!-- This is for the sidebar toggle which is visible on mobile only -->
        <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
            <i class="ri-close-line fs-6 ri-menu-2-line"></i>
        </a>

        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <a class="navbar-brand" href="{{ path('homepage') }}">
            <!-- Logo icon -->
            <b class="logo-icon">
                <!--You can put here icon as card // <i class="wi wi-sunset"></i> //-->
                <!-- Dark Logo icon -->
                {#                <img src="{{ asset('assets/images/logo.png') }}" alt="homepage" class="dark-logo"/> #}
                <img src="https://frankfurt.apollo.olxcdn.com/v1/files/id0mx57kj0t52-UZ/image;s=65x0;q=50"
                     alt="homepage"/>
                <!-- Light Logo icon -->
                {#                <img src="{{ asset('assets/images/logo-light.png') }}" alt="homepage" class="light-logo"/> #}
                <img src="https://frankfurt.apollo.olxcdn.com/v1/files/id0mx57kj0t52-UZ/image;s=120x0;q=50"
                     alt="homepage" class="light-logo"/>
            </b>
            <!--End Logo icon -->
            <!-- Logo text -->
            {# <span class="logo-text">
                 <!-- dark Logo text -->
                 <img src="{{ asset('assets/images/logo-text.png') }}" alt="homepage" class="dark-logo"/>
                <!-- Light Logo text -->
                 <img src="{{ asset('assets/images/logo-light-text.png') }}" class="light-logo" alt="homepage"/>
            </span> #}
        </a>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Toggle which is visible on mobile only -->
        <!-- ============================================================== -->
        <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
           data-bs-toggle="collapse" data-target="#navbarSupportedContent"
           aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="ti-more"></i>
        </a>

    </div>


    <div class="scroll-sidebar css--pc-navigation">
        <nav class="sidebar-nav">
          {{ knp_menu_render('sidebarnav') }}
        </nav>
    </div>
    <div class="navbar-collapse collapse {{ is_granted('IS_IMPERSONATOR') ? 'bg-danger' }}"
         id="navbarSupportedContent">
        {#        {{ knp_menu_render('mainnav') }} #}
        <ul class="navbar-nav ms-auto">

            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle waves-effect waves-dark" data-bs-toggle="dropdown"
                   role="button"
                   aria-expanded="false" id="locales">
                    <i class="flag-icon flag-icon-{% if app.request.locale == 'en' %}gb{% else %}ru{% endif %}"></i>
                    <span class="sr-only">{{ 'menu.choose_language'|trans }}</span>
                </a>
                <div class="dropdown-menu locales dropdown-menu-end dropdown-menu-animate-up" role="menu"
                     aria-labelledby="locales">

                    <a class="dropdown-item{% if app.request.locale == 'en' %} active{% endif %}"
                       href="{{ path('change_language', {'locale': 'en'}) }}">
                        <i class="me-2 flag-icon flag-icon-gb"></i>
                        English
                    </a>
                    <a class="dropdown-item{% if app.request.locale == 'ru' %} active{% endif %}"
                       href="{{ path('change_language', {'locale': 'ru'}) }}">
                        <i class="me-2 flag-icon flag-icon-ru"></i>
                        Русский
                    </a>

                    <span class="with-arrow"><span class="bg-white"></span></span>
                    <ul class="list-style-none">

                </div>
            </li>

            {% if app.user %}

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href=""
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                src="{{ asset('assets/images/users/profile.jpg') }}" alt="user" class="rounded-circle"
                                width="31"></a>
                    <div class="dropdown-menu dropdown-menu-end user-dd dropdown-menu-animate-up">
                        <span class="with-arrow"><span class="bg-primary"></span></span>
                        <div class="d-flex no-block align-items-center p-3 {% if is_granted('IS_IMPERSONATOR') %}bg-danger{% else %}bg-primary{% endif %} text-white mb-2">
                            <div class="">
                                <img src="{{ asset('assets/images/users/profile.jpg') }}" alt="user"
                                     class="rounded-circle" width="60"></div>
                            <div class="ms-2">
                                {% if is_granted('IS_IMPERSONATOR') %}
                                    {% set impersonatorUser = getImpersonatorUser() %}
                                    <p class="mb-0">{{ 'title.main_user'|trans }}</p>
                                    {% if impersonatorUser is not empty %}
                                        <h4>{{ impersonatorUser.username }}</h4>{% endif %}
                                    <p class="mt-2 mb-0">{{ 'title.simulating_user'|trans }}</p>
                                {% endif %}
                                {#                                <h4 class="mb-0">{{ app.user.firstName }} {{ app.user.lastName }}</h4> #}
                                <p class=" mb-0">{{ app.user.email }}</p>
                            </div>
                        </div>
                        {#                        <a class="dropdown-item" href="{{ path('profile_edit') }}"> #}
                        {#                            <i class="mdi mdi-account m-r-5 m-l-5"></i> {{ 'menu.edit_profile'|trans }} #}
                        {#                        </a> #}
                        {#                        <a class="dropdown-item" href="{{ path('profile_change_password') }}"> #}
                        {#                            <i class="mdi mdi-shield-outline m-r-5 m-l-5"></i> {{ 'menu.change_password'|trans }} #}
                        {#                        </a> #}
                        <div class="dropdown-divider"></div>
                        <div>
                            <a class="dropdown-item" href="{{ path('security_logout') }}">
                                <i class="fa fa-power-off m-r-5 m-l-5"></i> {{ 'menu.logout'|trans }}
                            </a>
                        </div>
                        {% if is_granted('IS_IMPERSONATOR') %}
                            {% set impersonatorUser = getImpersonatorUser() %}
                            <div class="dropdown-divider"></div>
                            <div>
                                <a class="dropdown-item text-danger"
                                   href="{{ impersonation_exit_path(path('admin_user_index')) }}">
                                    <i class="fa fa-exchange-alt m-r-5 m-l-5"
                                       aria-hidden="true"></i> {{ 'menu.switch_back'|trans }}
                                </a>
                            </div>
                        {% endif %}

                    </div>
                </li>

            {% endif %}

        </ul>
    </div>

</nav>
