{#
This is the base template used as the application layout which contains the
common elements and decorates all the other templates.
See https://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>{% block title %}{% endblock %}</title>
    {#<link rel="alternate" type="application/rss+xml" title="{{ 'rss.title'|trans }}" href="{{ path('blog_rss') }}">#}
    {% block stylesheets %}
        {#<link rel="stylesheet" href="{{ asset('build/css/app.css') }}">#}
        {{ encore_entry_link_tags('app-styles') }}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    {#<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->#}
    {#<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->#}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="{% block body_id %}{% endblock %}">

{% block preloader %}

    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

{% endblock %}

<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url({{ asset('build/images/startpage.jpg') }}) no-repeat center center; background-size: cover;">
    <div class="auth-box">
        <div id="loginform">
            {% block body %}
                <div class="mb-3">
                        <span class="db">

{#                            <img src="https://frankfurt.apollo.olxcdn.com/v1/files/id0mx57kj0t52-UZ/image;s=120x0;q=50" alt="logo icon" />#}
                            {#<img src="{{ asset('assets/images/logo-text.png') }}" alt="logo text" />#}
                        </span>

                </div>
                {% block main %}{% endblock %}
            {% endblock %}
        </div>
    </div>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('plugins') }}

    {{ include('partials/_flash_messages.html.twig') }}
{% endblock %}

{# it's not mandatory to set the timezone in localizeddate(). This is done to
       avoid errors when the 'intl' PHP extension is not available and the application
       is forced to use the limited "intl polyfill", which only supports UTC and GMT #}

</body>
</html>
