<tr>
    <td style="{{ 'email-masthead'|emailStyle }}">
        <a style="{{ 'fontFamily'|emailStyle }} {{ 'email-masthead_name'|emailStyle }}"
           href="{{ url('homepage') }}" target="_blank">
            {{ app_name() }}
        </a>
    </td>
</tr>
