<div class="text-center">

    {% if is_granted('ROLE_MANAGER') %}

        <a href="{{ path('admin_qrcode_view', {id: qrcode.id}) }}"
           class="btn btn-sm btn-success js--print" title="{{ 'action.print'|trans }}" >
            <i class="fa fa-image" aria-hidden="true"></i>
        </a>

{#        <a href="{{ path('admin_qrcode_view_pdf', {id: qrcode.id}) }}"#}
{#           class="btn btn-sm btn-success" title="{{ 'action.print'|trans }}" >#}
{#            <i class="fa fa-file-pdf" aria-hidden="true"></i>#}
{#        </a>#}


{#        <a href="{{ path('admin_qrcode_edit', {id: qrcode.id}) }}"#}
{#           class="btn btn-sm btn-primary" title="{{ 'action.edit'|trans }}">#}
{#            <i class="fa fa-edit" aria-hidden="true"></i>#}
{#        </a>#}



        {% if (qrcode.status.name == 'new') %}

        <a href="{{ path('admin_qrcode_delete', {id: qrcode.id}) }}"
           class="btn btn-sm btn-danger" title="{{ 'action.delete'|trans }}">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
        {% endif %}
    {% endif %}
</div>
